.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 226px;
    
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 36px;

        .nav-item {
            display: block;

            .nav-link {
                color: var(--white);
                font-size: 24px;
                font-family: "Broken Detroit";
            }
        }
    }
}
