@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

:root {
  --bg-color: #131313;
  --violet: #99449F;
  --white: #FFFFFF;
  --card-color-healer: #D616A1;
  --card-color-hunter: #4D098C;
  --card-color-shadow: #590E7B;
  --card-color-pirate: #C300E3;
  --card-color-arrow: #FF4AFF;
  --card-color-ghost: #7B149E;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #131313;
    --violet: #99449F;
    --white: #FFFFFF;
    --card-color-healer: #D616A1;
    --card-color-hunter: #4D098C;
    --card-color-shadow: #590E7B;
    --card-color-pirate: #C300E3;
    --card-color-arrow: #FF4AFF;
    --card-color-ghost: #7B149E;
  }
}

@font-face {
  font-family: "Broken Detroit";
  src: url(./brokendetroitrusbylyajka.otf);
}